
.hero {
  background-image: url("img/samurai.jpg");
  background-attachment: fixed;
  background-position: 80% 30%;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; }
